
body {

    text-align: center;
}


.contanier {


    width: 1400px;
    
}



section {

    width: 1200px;
    margin: 0 auto;
}

.content {

    margin-bottom: 110px;
}



.content-search {
    
    background-color: rgb(238, 238, 238);
    text-align: center;
    margin-bottom: 5px;

}

.card-left {

    background-color: rgb(126, 229, 218);
    width:36% ;
    height: 80px;
    padding-top: 10px;
    
    float: left;
    
}

.card-center {

    width:20%;
    height: 80px;
    padding-top: 10px;
    margin: 0 5px;
    background-color: rgb(112, 204, 194);
    float: left;

}

.card-right {

    width: 43%;
    height: 80px;
    padding-top: 10px;
    background-color: rgb(98, 179, 170);
    float: left;
}


